# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Environment Variables
.env

# SQLite
db.sqlite3

# Media Files
media/

# Static Files
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store